root = true

[*]
end_of_line = lf #padroniza pulada de linha entre linux e Windows
indent_style = space #tipo de indentação
indent_size = 2 #tamanho da identação
charset = utf-8 #padronização de caracteres
trim_trailing_whitespace = true #remover espaços em branco no meio do código
insert_final_newline = true #inserir uma linha em branco ao final do código
